## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/weatherpy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lorengau,PG,-2.0226,147.2712,81.70,81,100,6.35,overcast clouds
1,1,Port Alfred,ZA,-33.5906,26.8910,60.30,81,93,11.12,overcast clouds
2,2,East London,ZA,-33.0153,27.9116,63.19,77,72,11.90,broken clouds
3,3,Shenjiamen,CN,29.9576,122.2980,69.08,94,100,14.14,overcast clouds
4,4,Nikolskoye,RU,59.7035,30.7861,52.39,98,84,6.46,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is your perferred minimum temperature? '))
max_temp = float(input('What is your preferred maximum temperature? '))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
filtered_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Iqaluit,CA,63.7506,-68.5145,33.53,74,75,15.99,broken clouds
8,8,Qaanaaq,GL,77.4840,-69.3632,37.49,75,100,7.02,overcast clouds
12,12,Goderich,CA,43.7501,-81.7165,49.21,66,100,8.05,overcast clouds
17,17,Vardo,NO,70.3705,31.1107,37.42,76,79,24.16,broken clouds
18,18,Polunochnoye,RU,60.8697,60.4153,37.00,62,95,2.51,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
filtered_df.count()

City_ID                138
City                   138
Country                138
Lat                    138
Lng                    138
Max Temp               138
Humidity               138
Cloudiness             138
Wind Speed             138
Current Description    138
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
filtered_df = filtered_df.dropna()
filtered_df.count()

City_ID                138
City                   138
Country                138
Lat                    138
Lng                    138
Max Temp               138
Humidity               138
Cloudiness             138
Wind Speed             138
Current Description    138
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_df[["City", "Country", "Lat", "Lng", "Max Temp", "Current Description"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
6,Iqaluit,CA,63.7506,-68.5145,33.53,broken clouds,
8,Qaanaaq,GL,77.4840,-69.3632,37.49,overcast clouds,
12,Goderich,CA,43.7501,-81.7165,49.21,overcast clouds,
17,Vardo,NO,70.3705,31.1107,37.42,broken clouds,
18,Polunochnoye,RU,60.8697,60.4153,37.00,overcast clouds,
19,Nanortalik,GL,60.1432,-45.2371,43.03,scattered clouds,
21,Mount Gambier,AU,-37.8333,140.7667,49.91,overcast clouds,
24,Mataura,NZ,-46.1927,168.8643,49.48,light rain,
25,Bluff,NZ,-46.6000,168.3333,49.80,overcast clouds,
32,Tasiilaq,GL,65.6145,-37.6368,41.16,overcast clouds,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']

    params['location'] = f'{lat},{lng}'
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    request = requests.get(base_url, params=params).json()
    request
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = request['results'][0]['name']
    except(IndexError):
        print('Hotel not found... skipping.')
        hotel_df.loc[index, 'Hotel Name'] = np.nan

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.reset_index(drop=True)
clean_hotel_df.head(15)

,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
6,Iqaluit,CA,63.7506,-68.5145,33.53,broken clouds,Frobisher Inn
8,Qaanaaq,GL,77.4840,-69.3632,37.49,overcast clouds,Qaanaaq Hotel
12,Goderich,CA,43.7501,-81.7165,49.21,overcast clouds,Harmony Inn
17,Vardo,NO,70.3705,31.1107,37.42,broken clouds,VardÃ¸ Hotel AS
19,Nanortalik,GL,60.1432,-45.2371,43.03,scattered clouds,Hotel Kap Farvel
21,Mount Gambier,AU,-37.8333,140.7667,49.91,overcast clouds,Commodore on the Park
24,Mataura,NZ,-46.1927,168.8643,49.48,light rain,Ellie's Villa
25,Bluff,NZ,-46.6000,168.3333,49.80,overcast clouds,Bluff Homestead - Guesthouse & Campervan Park
32,Tasiilaq,GL,65.6145,-37.6368,41.16,overcast clouds,The Red House
37,Hobart,AU,-42.8794,147.3294,46.92,scattered clouds,Mantra on Collins Hobart
38,Barrow,US,71.2906,-156.7887,33.82,overcast clouds,King Eider Inn
41,Olafsvik,IS,64.8945,-23.7142,46.24,clear sky,Hotel Olafsvik
43,Punta Arenas,CL,-53.1500,-70.9167,28.51,clear sky,Hotel Dreams Del Estrecho
49,Krasnoselkup,RU,65.7000,82.4667,28.31,overcast clouds,Krasnosel'kupnefteprodukt
54,Pevek,RU,69.7008,170.3133,37.58,broken clouds,Hotel ABC

In [10]:
# 8a. Create the output File (CSV)
output_data_file = '../vacation_search/weatherpy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd><{Max Temp} Â°F</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))